<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세부질문{{qid}}</title>
</head>
<body>
    <div id="qDiv">

    </div>
    <h5>{{question.answer.set|length}}개의 답변이 있습니다</h5>
    <div>
        <ul>
            {% for answer in question.answer_set %}
                <li>{{answer.content}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <form>
            <textarea rows="5" cols="20" placeholder="답글입력"></textarea>
            <input type="submit" value="답변등록">
        </form>

    </div>
</body>
</html>